/* some minor style tweaks to fix inline_entity_form with seven */
.field-name-bootstrap-tour-step-reference fieldset legend {
  margin-bottom: 10px;
}
.field-name-bootstrap-tour-step-reference fieldset legend span {
  display: block;
  background-color: #e0e0d8;
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-top: 0;
}
.field-name-bootstrap-tour-step-reference .fieldset-legend {
  padding-left: 0;
}
.field-name-bootstrap-tour-step-reference {
  border: 1px solid #ccc !important;
  margin-bottom: 30px;
}
.field-name-bootstrap-tour-step-reference fieldset.form-wrapper {
  margin: 0;
}

.demo-site-block-closed {
    display: none;
}
